.main {
  flex: 1;
  margin: 6px 0 10px 10px;
  min-width: 300px;
  height: 84vh;
}
.listWrapper {
  height: 94%;
  overflow: auto;
  padding: 4px;
  @media (max-height: 890px) {
    height: 90%;
  }
}

.documentsList {
  border: 0.5px solid gray;
  border-radius: 4px;
  background-color: white;
  padding: 10px;
}

.documentItem {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.documentItem:hover {
  background-color: #e9f4fa;
  cursor: pointer;
}

.selectedItem {
  background-color: #c8deea;
}

.imageEnvelope {
  width: 19px;
  height: 19px;
  position: relative;
  top: 1px;
}
